*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Remover margens globais */
}

body{
    background: rgb(197, 197, 197);
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.borda{
    border-radius: 15px;
}

h1, nav{
    background: rgb(63, 63, 63);
    text-align: center;
    color: white;
}

h1{
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 5px;
}

nav{
    padding: 15px;
    margin-bottom: 5px;
}

nav a{
    padding: 0 15px 0 15px;
}

main{
    width: 70%;
    margin: 0 auto;
}

footer{
    color: white;
    background: rgb(63, 63, 63);
    padding: 1px;
    margin-top: 5px;
}

footer p{
    margin-left: 22vw;
    padding: 10px;
}

.container{
    background: white;
}

h2{
    padding: 30px;
}

.flex_1{
    flex: 1;
}

.flex{
    display: flex;
}

.item{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.img{
    margin: 0 auto;
    width: 90%;
    gap: 5px;
    padding-bottom: 15px;
    object-fit: cover;
}